.stick {
  width: 0.38rem;
  height: 2.1rem;
  border-radius: 0.22rem;
  margin: 0.09rem;
  background: #fbbf24;
  box-shadow: 0 1px 3px #fef08a;
  display: inline-block;
  border: 1px solid #fff;
  transition: background 0.2s, box-shadow 0.2s;
}
